@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  margin: 0;
}

.nav {
  background-color: #323643;
  color: #f5eded;
  display: flex;
  justify-content: flex-start; /* agora só sobra o "Site name" no fluxo, então ele vai pra direita */
  align-items: center;
  padding: 0 2rem;
  position: relative; /* necessário para o ul absoluto se referenciar a este elemento */
}

.siteTitulo {
  font-size: 2rem;
}

.nav ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.nav a {
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  color: #d3d6db;
  z-index: 2;
  transition: 0.3s;
  position: relative;
  font-weight: 600;
  order: -1;
}

ul:hover li a {
  opacity: 0.3;
}

ul li a:hover {
  opacity: 1;
  transform: scale(1.2);
}
li{
    padding-left: 12px;
}
ul li a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #606470;
  z-index: -1;
  transform-origin: right;
  transform: scaleX(0);
  border-radius: 10px;
}

.nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.2s;
}
